[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/燚垚屾 (fooduo)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/燚垚屾 (fooduo)
	label-Verified = -1..+1 group user/燚垚屾 (fooduo)
	push = group user/燚垚屾 (fooduo)
	read = group user/燚垚屾 (fooduo)
	rebase = group user/燚垚屾 (fooduo)
	removeReviewer = group user/燚垚屾 (fooduo)
	submit = group user/燚垚屾 (fooduo)
[access "refs/heads/*"]
	create = group user/燚垚屾 (fooduo)
	push = +force group user/燚垚屾 (fooduo)
	pushMerge = group user/燚垚屾 (fooduo)
	read = group user/燚垚屾 (fooduo)
[access "refs/tags/*"]
	push = group user/燚垚屾 (fooduo)
	push = +force group user/燚垚屾 (fooduo)
